.feedback_list {
  /* display: flex; */
  display: block;
  align-items: center;
  justify-content: center;
  gap: 15px;

@media screen and (min-width: 768px) {
      display: flex;
    }
}


@media screen and (max-width: 768px) {
  .feedback_list li {
  margin-bottom: 15px;
  text-align: center;
}
}
