.statistics_wrapper {
  padding: 15px;
  width: 250px;
  margin: 0 auto;
  border-radius: 4px;
  @media screen and (max-width: 768px) {
      width: 150px;
    }
}

.description {
  /* display: flex; */
  display: block;
  align-items: center;
  gap: 10px;
  margin: 5px;
  padding: 3px 4px;
  color: #fff;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    color: #000;
  }
 @media screen and (min-width: 768px) {
  display: flex;
    }
}

.svg {
  fill: var(--secondary-color);
}

.neutral {
  stroke: var(--secondary-color);
}
